:root {
 --main-color: #336699;
 --accent-color: #f4b400;
}


h1 {
    
    background: var(--main-color);
    color:white;
}

h2 {
    display:inline-block;
    height:200px;
    width:200px;
    background:orangered;
    color:antiquewhite;
}